<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="springDao" class="me.springframework.context.inject.SpringDao"></bean>

    <bean id="springConstructService" class="me.springframework.context.inject.SpringConstructService">
        <!-- 配置注入属性 -->
        <constructor-arg name="springDao" ref="springDao"></constructor-arg>
    </bean>
</beans>